<div class="container-fluid g-0">
    <app-header (sideNavToogled)="sideNavStatus = $event;"></app-header>
  
    <main>
      <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-sidenav>
  
      <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
        <form class="form-floating">
          <h3 class="patientdetails">Enter Patient Details</h3>
          <div class="row">
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Patient Name</span>
                <input type="text" aria-label="Patient name" name="p_name" class="form-control" [(ngModel)]="file.name">
              </div> 
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Gender</span>
                <select class="form-select" aria-label="Select Gender" name="gender" [(ngModel)]="file.gender">
                  
                  <option selected value="male" >Male</option>
                  <option value="female">Female</option>
                  <option value="others">Others</option>
                </select>
              </div> 
            </div>         
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Doctor</span>
                <select class="form-select" aria-label="Select Gender " name="doctor" [(ngModel)]="file.doctor_name">
                  <option selected value="jaynit" >jaynit</option>
                  <option value="female">abc</option>
                  <option value="others">abc</option>
                </select>
              </div> 
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Age</span>
                <input type="text" aria-label="age" name="age" class="form-control" [(ngModel)] = "file.age">
              </div> 
            </div>         
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Email</span>
                <input type="text" aria-label="email" class="form-control">
              </div> 
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Phone Number</span>
                <input type="text" aria-label="phone number" name="phone" class="form-control" [(ngModel)] = "file.phone_number">
              </div> 
            </div>         
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Address</span>
                <input type="text" aria-label="address" class="form-control" name="address"  [(ngModel)]="file.address">
              </div> 
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Symptoms</span>
                <input type="text" aria-label="address" class="form-control" name="remarks" [(ngModel)]="file.remarks">
              </div> 
            </div>                                     
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group">
                <button type="button" (click)="createFile()" class="btn btn-primary">Submit</button>
              </div> 
            </div>                                   
          </div>
  
        </form>
      </div>
    </main>
  </div>
