<div class="container-fluid g-0">
    <app-header (sideNavToogled)="sideNavStatus = $event;"></app-header>
  
    <main>
      <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-sidenav>
  
      <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
        <div class="container-fluid g-0">
          
        <h1>Prescribe Medicines</h1>
        <br>
        <br>  
         <form class="form-floating">
            <div class="row">
              <div class="col">
                <select class="form-select" aria-label="Select Medicines " name="drug" [(ngModel)] = "pharmacy.name">
                    <option *ngFor="let data of drugs; let i = index" >{{data}}</option>
                </select>
              </div>
              <div class="col">
                <button type="submit" (click)="addDrug()" class="btn btn-primary">Add</button>
                &nbsp;
                &nbsp;
                &nbsp;
                <button type="submit"  class="btn btn-primary" style="background-color: green;">Send To Accounts</button>
              </div>
            </div>
          </form>
          <br>
          
          <table class="table MyTable">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Name</th> 
                <th scope="col">Actions</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of selectedItems; let i = index">
                <td>{{i+1}}</td>
                <td>{{data}}</td>
                <td><button (click)="deleteDrug(data)" class="btn btn-primary">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
          
      </div>
    </main>
  </div>