<div class="container-fluid g-0">
    <app-header (sideNavToogled)="sideNavStatus = $event;"></app-header>
  
    <main>
      <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-sidenav>
  
      <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
        <div class="container-fluid g-0">
            <div class="inner_section">
                <div id="record_container" class="record_container">
                    <h3 class="title">CLINIC</h3>
                    <div class="col">
                        Phone: {{file.phone_number}}
                    </div>
                    <div class="col1">
                        Name: {{file.name}}
                    </div>
            
                    <table class="table">
                        <tr>
                            <td class="table_column1">
                                PATIENT INFORMATION
                            </td>
                        </tr>
                        <tr class="table_row clearfix">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="name">
                                        <td class="row g-1 align-items-center">
                                            <div class="col-auto">
                                                <label class="label" for="inputPassword6" class="label">Name:</label>
                                            </div>
                                            <div class="col-auto">
                                                <label class="label" for="inputPassword6" class="col-form-label">{{file.name}}</label>
                                            </div>
                                        </td>
                                    </div>
                                    <div class="name">
                                        <td class="row g-1 align-items-center">
                                            <div class="col-auto">
                                                <label for="inputPassword6" class="label">Gender:</label>
                                            </div>
                                            <div class="col-auto">
                                                <label for="inputPassword6" class="col-form-label">{{file.gender}}</label>
                                            </div>
                                        </td>
                                    </div>
            
                                </div>
                            </div>
                        </tr>
                        <tr class="table_row clearfix">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="name">
                                        <td class="row g-1 align-items-center">
                                            <div class="col-auto">
                                                <label class="label" for="inputPassword6" class="label">Phone:</label>
                                            </div>
                                            <div class="col-auto">
                                                <label class="label" for="inputPassword6" class="col-form-label">{{file.phone_number}}</label>
                                            </div>
                                        </td>
                                    </div>
                                    <div class="name">
                                        <td class="row g-1 align-items-center">
                                            <div class="col-auto">
                                                <label for="inputPassword6" class="label">Address:</label>
                                            </div>
                                            <div class="col-auto">
                                                <label for="inputPassword6" class="col-form-label">{{file.address}}</label>
                                            </div>
                                        </td>
                                    </div>
            
                                </div>
                            </div>
                        </tr>
                        <tr class="table_row clearfix">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="name">
                                        <td class="row g-1 align-items-center">
                                            <div class="col-auto">
                                                <label for="inputPassword6" class="label">Age:</label>
                                            </div>
                                            <div class="col-auto">
                                                <label for="inputPassword6">{{file.age}}</label>
                                            </div>
                                        </td>
                                    </div>
                                    <div class="name">
                                        <td class="row g-1 align-items-center">
                                            <div class="col-auto">
                                                <label for="inputPassword6" class="label">Symptoms:</label>
                                            </div>
                                            <div class="col-auto">
                                                <label for="inputPassword6" class="col-form-label">{{file.remarks}}</label>
                                            </div>
                                        </td>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <td class="table_column1">
                                TESTS TO BE PERFORMED
                            </td>
                        </tr>
                        <tr class="table_row">
                            <div class="dropdown">
                                <ng-multiselect-dropdown class="dw"
                                [placeholder]="'Select tests'" 
                                [settings]="dropdownSettings"
                                [data]="dropdownList"
                                (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                            </div>                            
            
                        </tr>
                        <tr class="table_row">
            
                            <button (click)="createLab()" class="btn btn-primary">Send to Laboratory</button>
            
                        </tr>
            
                    </table>
            
            
                </div>
            </div>

        </div>
      </div>
    </main>
  </div>
  
  
  
  
  