<div class="container-fluid g-0">
  <app-header (sideNavToogled)="sideNavStatus = $event;"></app-header>

  <main>
    <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-sidenav>

    <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
      <div class="container-fluid g-0">
        <form class="form-floating">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="temp" [(ngModel)]="pharmacy.supplier" placeholder="Supplier Name" aria-label="Medicine name" >
            </div>
            <div class="col">
              <input type="text" class="form-control" name="temp1" [(ngModel)]="pharmacy.name" placeholder="Medicine Name" aria-label="Medicine name">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="temp3" [(ngModel)]="pharmacy.dose" placeholder="Strength" aria-label="strength">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="temp2" [(ngModel)]="pharmacy.mrp" placeholder="Price (MRP)" aria-label="Price">
            </div>
            <div class="col">
              <button type="submit" (click)="addDrug()" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
        <br>

        <table class="table MyTable">
          <thead>
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col">Supplier</th>
              <th scope="col">Name</th>
              <th scope="col">Strength</th>
              <th scope="col">MRP</th>  
              <th scope="col">Actions</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dataList; let i = index">
              <td>{{i+1}}</td>
              <td>{{data.supplier}}</td>
              <td>{{data.name}}</td>
              <td>{{data.dose}}</td>
              <td>{{data.mrp}}</td>
              <td><button (click)="openPopup(i+1)" class="btn btn-primary">Edit</button></td>
            </tr>
          </tbody>
        </table>
      
        <div class="modal" [ngStyle]="{'display':displayStyle}" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label class="form-label">Supplier Name</label>
                        <input class="form-control" name="ok" type="text" [(ngModel)]="pharmacy.supplier">
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                      <label class="form-label">Medicine name</label>
                      <input class="form-control" name="ok1" type="text" [(ngModel)]="pharmacy.name">
                  </div>
              </div>
              <div class="row">
                <div class="col">
                    <label class="form-label">Strength</label>
                    <input class="form-control" name="ok2" type="text" [(ngModel)]="pharmacy.dose">
                </div>
            </div>
                <div class="row">
                  <div class="col">
                      <label class="form-label">Price</label>
                      <input class="form-control" name="ok3" type="text" [(ngModel)]="pharmacy.mrp">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" (click)="closePopup()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button"(click)="updateDrug()" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      </div>
        
    </div>
  </main>
</div>